// 自分のスタイル
.container {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: 
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans",
    sans-serif;
  width: 100vw;
  height: 100vh;

  #result {
    text-align: center;
    color: #01b6ff;
    font-weight: 600;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    opacity: 0; /* 通常時は透明にしておく */
    transition: opacity 0.2s; /* ふわっと表示させる */
    
    /* line-heightの代わりにFlexboxでど真ん中に配置する */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 何かしらの文字やボタン（中身）が入ったら一番手前に持ってくる */
    &:not(:empty) {
      z-index: 99999;
      opacity: 1;
      background-color: #fff; /* エラー時などは白背景にする */
    }

    /* 提出中などの特別な処理の時 */
    &.teisyututyu {
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: #fff; /* 背景が黒なので文字は白に */
      z-index: 99999 !important;
      
      /* スマホSafariのボタン突き抜けバグ対策 */
      transform: translateZ(999px);
      -webkit-transform: translateZ(999px);
    }

    &.kousintyu {
      background-color: #fff;
      z-index: 99999 !important;

      /* スマホSafariのボタン突き抜けバグ対策 */
      transform: translateZ(999px);
      -webkit-transform: translateZ(999px);
    }
  }

  // カレンダー
  #calendarView {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    #summary {
      padding-top: 30px;
      margin-bottom: 20px;
      #userName, #workTime {
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
      }
      #userName {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 8px;
      }
      #workTime {
        color: #616161;
      }
    }
    #monthNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px auto 20px auto;
      #currentMonth {
        font-size: 18px;
        font-weight: 600;
        color: #616161;
      }
      #prevMonth, #nextMonth {
        background-color: #fff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 18px;
          height: 18px;
          object-fit: contain;
          object-position: center;
        }
      }
    }
    #calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1px;
      .week-header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        font-weight: bold;
        margin-bottom: 2px;
        gap: 1px;
        .week-cell {
          font-size: 13px;
          padding: 4px 0;
          font-weight: 500;
          color: #616161;
        }
      }
      .day {
        outline: solid 1px #d3d3d3;
        min-height: 60px;
        padding: 4px;
        font-size: 12px;
        box-sizing: border-box;
        min-width: 0;
        .date {
          font-weight: 600;
          display: block;
          margin-bottom: 2px;
          font-family: 'Roboto', sans-serif;
        }
        .shift-time {
          white-space: nowrap;     /* 改行させない */
          overflow: hidden;        /* はみ出た分を隠す */
          padding: 3px;
          border-radius: 3px;
          background-color: #ededed;
          font-family: 'Roboto', sans-serif;
          line-height: 1em;
          &.state-medical {
            font-weight: 600;
            color: #00b894;
            background-color: #f0fff4;
            font-family: 
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              "Noto Sans",
              sans-serif;
          }
          &.state-absent {
            font-weight: 600;
            color: #ff4d8d;
            background-color: #fff0f5;
            text-align: center;
            font-family: 
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              "Noto Sans",
              sans-serif;
          }
        }
        .add-shift-button {
            margin: 0 auto;
            font-size: 22px;
            line-height: 1;
            border: none;
            background: transparent;
            cursor: pointer;
            color: #01b6ff;
            pointer-events: auto;
            opacity: 1;
        }
      }
    }
  }

  // 詳細ページ
  #detailView {
    padding: 30px 0;
    position: relative;
    z-index: 0;
    #backButton {
      display: flex;
      width: 18px;
      height: 18px;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    #detailDate {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 10px 0;
      color: #616161;
    }
    #detailShift {
      margin: 0 0 20px 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 24px;
    }
    // メニュー
    .detailView_menu {
      display: flex;
      gap: 15px;
      justify-content: flex-start;
      margin-bottom: 20px;
      > button {
        color: #01b6ff;
        width: 100px;
        padding: 8px;
        border-radius: 6px;
        border: 2px solid #01b6ff;
        justify-content: center;
        font-weight: 600;
        font-size: 13px;
      }
    }
    // 時間変更
    #editArea {
      grid-template-columns: 50px 140px;
      grid-template-rows: 38px 38px 1fr;
      font-size: 13px;
      padding-top: 20px;
      justify-content: center;
      gap: 12px 0;
      > p {
        color: #616161;
      }
      > select {
        border: 1px solid #c7c7c7;
        border-radius: 6px;
        padding: 4px;
        width: 140px;
        color: #333;
      }
      #saveEdit {
        grid-row: 3 / 4;
	      grid-column: 1 / 3;
        padding: 10px;
        background-color: #01b6ff;
        color: #fff;
        border-radius: 4px;
        margin-top: 6px;
      }
    }
    // 診断書提出
    #medicalArea {
      font-size: 13px;
      #medicalGuide {
        padding-top: 8px;
        line-height: 1.4em;
        color: #333;
      }
      #medicalFile {
        color: #616161;
      }
      #submitMedical {
        margin-top: 10px;
        padding: 10px;
        background-color: #01b6ff;
        width: 100%;
        color: #fff;
        border-radius: 6px;
        font-weight: 600;
      }
    }
  }
}

